<div class="form__row u-spacer--tb--tiny">
  {{#each files as |file|}}
    {{vo-mu-file-card file=file onDelete=(action "deleteFile")}}
  {{/each}}
  {{vo-mu-file-dropzone onFinishUpload=(action "addFile") maxFileSizeMB=1024}}
</div>
