<td>
  {{input
    class="input-field input-field--block input-field--small"
    placeholder="http://wwww.uw-bestuur.be/specifiek-document"
    name="URL-besluit-URL"
    value=url.address
    disabled=(not editable)
    focus-out=(action "trimUrl")
  }}
  <div class="button-group u-spacer--top--tiny">
	  <a href={{url.address}} target="_blank" rel="noopener" class="u-spacer--bottom--tiny button button--small button--alt"><i class="vi vi-external"></i>Bekijk link</a>
		{{#if url.replicatedFile.downloadLink}}
			<a href={{url.replicatedFile.downloadLink}} download class="u-spacer--bottom--tiny button button--small button--alt"><i class="vi vi-document-small"></i>Download opgeslagen pagina<sup>*</sup></a>
		{{/if}}
		{{#if editable}}
			<a class="toggle u-spacer--bottom--tiny button button--small button--alt button--alt--warning" {{action "delete" url}} role="button"><i class="vi vi-cross vi-u-xs"></i>Verwijder&nbsp;link</a>
		{{/if}}
	</div>
</td>
