<div class="form__row u-padding--tb--tinier">
  <table class="data-table u-spacer--bottom--tiny">
    <thead>
      <tr>
        <td class="u-padding--tb--small">
          <p><strong>Voeg links naar documenten toe</strong> &mdash; aangewezen methode</p>
        </td>
      </tr>
    </thead>
    <tbody data-test-mn="url-box-list">
      {{#each urls as |url|}}
        {{toezicht/url-line url=url editable=(not disabled) onDelete=onDelete}}
      {{/each}}
		  {{#unless disabled}}
			  <tr>
      		<td>
      			<div class="u-align-center">
							{{#unless urls as |url|}}
					     	<p class="u-spacer--tb--tiny">Nog geen links toegevoegd.</p>
					    {{/unless}}
					    <button class="button button--small u-spacer--tb--tiny"
						    {{action "addUrlField"}}>
					      <i class="vi vi-plus button__icon" aria-hidden="true"></i> Voeg nieuwe link toe
					    </button>
							<div>
							  <p class="smaller u-spacer--top--tiny">Enkel links naar specifieke documenten, geen overzichtspagina's.</p>
							  <p class="smaller u-spacer--bottom--tiny"><sup>*</sup>Op het moment van versturen, wordt er een versie gedownload van de pagina die op de link te vinden is.</p>
							</div>
						</div>
					</td>
	      </tr>
		  {{/unless}}
    </tbody>
  </table>
    {{#if disabled}}
			<p class="smallest u-spacer--bottom--tiny"><sup>*</sup>Op het moment van versturen, wordt er een versie gedownload van de pagina die op de link te vinden is.</p>
	  {{/if}}
</div>
