<table class="data-table data-table--tight u-spacer--tb--small">
  <thead>
    <tr>
      <th>Bedrag</th>
    </tr>
  </thead>
  <tbody>
    {{#each taxRates as |taxRate|}}
      <tr>
        <td>
          {{input
            class="input-field input-field--block input-field--small"
            value=taxRate.amount
            onchange=(mut taxRate.amount)
            placeholder="Bedrag"
            disabled=true
          }}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
